<%= form_for(user, url: logging_in_path) do |f| %>

  <div>
    <%=f.label :username%>
    <%=f.text_field :username%>
  <div>

  <div>
    <%=f.label :password%>
    <%=f.password_field :password%>
  <div>

  <div class="action">
    <%=f.submit "Log in"%>
  </div>
<br>
  <%= link_to('Log in via GitHub!', '/auth/github') %>


<% end %>
