<%= form_for(@project, url: '/users/:user_id/projects') do |f| %>
  <%= f.hidden_field :user_id %>

  <div class="label">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div>
      <%= f.label :state %>
      <%= select_tag :state, options_for_select(us_states) %>
    </div>

    <div>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>

    <div>
      <%= f.fields_for :categories, @project.categories.build do |categories_fields| %>
        <%= categories_fields.label :name, "Category name" %>
        <%= categories_fields.text_field :name %>
      <% end %>
    </div>

    <div class="description_class">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, :cols => 80, :rows => 15 %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  </div>

<% end %>
