<div class="title" id="project_title">
  <h1><%=@project.name%></h1>
</div>

<div>
  <%=button_to "Back this project",back_project_path(@project.id) if guest_user(@user)%>
</div>

<div>
  <%if correct_user(@user) %>
    <%= edit_project(@user, @project)%> - <%= delete_project(@user, @project) %>
  <% end %>
</div>

<div class="details">
  <h4>Project location: <%=@project.city%>, <%=@project.state%></h4>
  <h3>Description:</h3>
  <p><%=@project.description%></p>
</div>

<div>
  <h4>Relevant Categories:</h4>
    <ul>
      <div class='categories'>
        <% @project.categories.each do |category| %>
          <li> <%=link_to category.name, category_path(category)%> </li>
        <% end %>
      </div>
    </ul>
</div>

<div>
  <%if backed_user(current_user, @project) %>
    <p> Contact this user to collaborate: <%=@user.email%></p>
  <% end %>
</div>

<div class="js-next" data-uid="<%=@user.id%>" data-id="<%=@project.id%>">
  <button>Next Project</button>
</div>

<div class="comment-form">
  <%=form_for(ProjectComment.new, url: user_comment_project_path(@user, @project)) do |f|%>
    <%=f.hidden_field :user_id, value: current_user.id %>
    <%=f.hidden_field :project_id, value: @project.id, id: 'hidden-projectId' %>
    <%= f.text_area :comment%>
    <%= f.submit "Submit Comment", id: 'comment-button' %>
  <% end %>
</div>

<a href=# class="show-comments">Show Comments</a>
<div class="comments">
  <ol class="comment-list">
  </ol>
</div>
