<div class="titles">
  <h1><%=@project.name%></h1><%=button_to "Back this project", back_project_path(@project.id) if guest_user(@user)%>
  <%if correct_user?(@user) %>
    <%= edit_project(@user, @project) %> - <%= delete_project(@user, @project) %>
  <% end %>
</div>

<div>
  <h4>Project location: <%=@project.city%>, <%=@project.state%></h4>
  <h3>Description:</h3>
  <p><%=@project.description%></p>
</div>

<div>
  <h4>Relevant Categories:</h4>
    <ul>
      <% @project.categories.each do |category| %>
        <li> <%=category.name%> </li>
      <% end %>
    </ul>
</div>
